---
import Layout from "../layouts/Layout.astro";
// import { MasonryGridGallery } from "../components/ui/MasonryGridGallery.jsx";
---
<Layout title="HEATROW CLUB | Gallery">
  <!-- Gallery Content -->
  <main class="bg-black pt-52 pb-24 px-8">

    <!-- Header -->
    <div class="text-center mb-14">
      <h1 class="text-5xl md:text-7xl font-black uppercase text-[oklch(50.5%_0.213_27.518)] tracking-wide">
        SEE WHAT&rsquo;S INSIDE
      </h1>
      <!-- <p class="text-white text-sm uppercase tracking-widest mt-4">Todas nuestras fotos y videos</p> -->
    </div>

    <!-- Gallery React Component -->
    <!-- <MasonryGridGallery client:load /> -->

  </main>

</Layout>
