---
import '../styles/global.css';
import Navbar from './Navbar.astro';
import Footer from './Footer.astro';

interface Props {
	title: string;
	description?: string;
}

const { title, description = 'HEATROW CLUB' } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<!-- Favicon para diferentes resoluciones -->
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon2.png" />
		<link rel="icon" type="image/png" sizes="64x64" href="/favicon2.png" />
		<link rel="icon" type="image/png" sizes="128x128" href="/favicon2.png" />
		<link rel="icon" type="image/png" sizes="256x256" href="/favicon2.png" />
		<!-- Si tienes SVG, puedes dejarlo como fallback -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />


		<title>{title}</title>
	</head>
	<body class="bg-black text-white">
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>
