---
export const prerender = false;
import AdminLayout from '../../layouts/AdminLayout.astro';
import DashboardStats from '../../components/admin/Estadisticas.jsx';
import BienvenidaUsuario from '../../components/admin/BienvenidaUsuario.jsx';
---
<AdminLayout title="Dashboard">
  <h1 class="text-2xl font-bold mb-1">Dashboard</h1>
  <BienvenidaUsuario client:load />
  <DashboardStats client:load />
</AdminLayout>